body{
    background-color: #e3f2fd;
}

.btn{
    background-color: #0d47a1;

}

.navbar, .nav-link, .nav-link:hover, .navbar-brand, .navbar-brand:hover{
    background-color: #0d47a1;
    color:white;
}

.card{

    border-radius: 10px;
    border: solid 1px;
}

hr{
    background-color: black;
}

.topicos{
    background-color: white;
}
